<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
        <add name="CMS.Properties.Settings.DataConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="CMS.Properties.Settings.PatientHistoryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PatientHistory.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="DESIGN_TIME_SCREEN_WIDTH" value="1366"/>
    <add key ="DESIGN_TIME_SCREEN_HEIGHT" value="768"/>
  </appSettings>
  
</configuration>